{{ define "history.html" }}
<link rel="stylesheet" type="text/css" href="/fs/public/css/index.css" />
<script src="/fs/public/js/history.js"></script>
<body>
    <div class="container-lg mt-3 table-responsive">
        <div class="card border-primary">
            <div class="card-header">
            <div class="row">
                <div class="col-md"></div>
                <div class="col-md">
                    <div class="gap-3 hstack">
                        <button onclick='setFormDate(-1)' class="btn tr-button"><i class="bi bi-arrow-left-square" title="Back"></i></button>
                        <input type="date" value="{{ .Version }}" class="m-auto form-control" onchange='setFormDate()' id="realDate" style="width: 70%;">
                        <button onclick='setFormDate(+1)' class="btn tr-button"><i class="bi bi-arrow-right-square" title="Forward"></i></button>
                    </div>
                </div>
                <div class="col-md"></div>
            </div>
            </div>
            <div class="card-body table-responsive">
                <table class="table table-striped table-hover">
                    <thead>
                        <th>Date</th>
                        <th>Icon</th>
                        <th>Color</th>
                        <th>Group</th>
                        <th>Name</th>
                        <th>Place</th>
                        <th>Count</th>
                        <th>Del</th>
                    </thead>
                    <tbody>
                        {{ range .Checks }}
                        <tr>
                            <td>{{ .Date }}</td>
                            <td><img src="{{ .Icon }}" style="height:1.3em;"/></td>
                            <td>
                                <i class="bi bi-square-fill" style="color: {{ .Color }};"></i>
                            </td>
                            <td>{{ .Group }}</td>
                            <td>{{ .Name }}</td>
                            <td>{{ .Place }}</td>
                            <td>{{ .Count }}</td>
                            <td>
                                <a href="/histdel/{{ .ID }}"><i class="bi bi-x-square"></i></a>
                            </td>
                        </tr>
                        {{ end }}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{{ template "footer.html" }}
{{ end }}