{{ define "index.html" }}
</head>
<style>
  .my-btn-lg {
      width: 10em;
  }
</style>
<body>
<div class="container-lg">
  <br>
  <div class="row">
    {{ range .Plans }}
    <h5>{{ .Group }}</h5>
      {{ range .Items }}
      <div class="col-md-auto">
      <p>
        {{ if .Count }}
        <button class="btn btn-lg btn-primary my-btn-lg" style="background-color: {{ .Color }};">
          {{ .Name }}
        </button> 
        <button class="btn btn-lg btn-primary" style="background-color: {{ .Color }};">{{ .Count }}</button>
        {{ else }}
        <button class="btn btn-lg btn-outline-primary my-btn-lg">
          {{ .Name }}
        </button>
        <button class="btn btn-lg btn-outline-primary">{{ .Count }}</button>
        {{ end }}
      </p>
      </div>
      {{ end }}
    {{ end }}
  </div>
</div>

{{ template "footer.html" }}
{{ end }}