{{ define "plan.html" }}

<body>
    <div class="container-lg mt-3 table-responsive">
        <table class="table table-striped">
            <thead>
                <th></th>
                <th>Icon</th>
                <th>Group</th>
                <th>Name</th>
                <th>Color</th>
                <th>Place</th>
                <th>Del</th>
            </thead>
            <tbody>
                {{ range .Plans }}
                <tr>
                    <td>
                        <a href="/planedit/{{ .ID }}">
                            <i class="bi bi-pencil-square"></i>
                        </a>
                    </td>
                    <td>{{ .Icon }}</td>
                    <td>{{ .Group }}</td>
                    <td>{{ .Name }}</td>
                    <td>
                        <i class="bi bi-circle-fill" style="color: {{ .Color }};"></i>
                    </td>
                    <td>{{ .Place }}</td>
                    <td>
                        <a href="/plandel/{{ .ID }}">
                            <i class="bi bi-x-circle"></i>
                        </a>
                    </td>
                </tr>
                {{ end }}
            </tbody>
        </table>
    </div>

{{ template "footer.html" }}
{{ end }}